* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', Arial , sans-serif;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), local('Raleway-Regular'),
  url('../fonts/Raleway-Regular.woff2') format('woff2'),
  url('../fonts/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.mainContainer {
  width: 1200px;
  //border: 1px solid red;
}

$spanColor: #24BA9D;